{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <form action="{{ path('profile') }}">
        <input type="submit" class="btn btn-primary float-left mb-3" value="Back">
    </form><br><br><br>
    {{ form(form) }}
{% endblock %}
